* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; width: 100%; background-color: black; color: white; font-family: sans-serif; }
a { color: #bbf; text-decoration: none; }
a:visited { color: #88f; }
a:hover { color: yellow; text-decoration: underline; }
.hide { display: none; }
.error { color: #f44; }
.f_left { float: left; }
.f_right { float: right; }
.cf:after { content: " "; display: table; clear: both; }

@keyframes red_text_cycle { from { color: #F00; } to { color: #FBB; }  }
.error
{
   color: #F44;
   font-weight: bold;
   animation: red_text_cycle 2s linear 0s infinite alternate;
}

h1 { margin: 0; font-size: 24px; }
.box {
  padding: 10px; color: white;
  border: 3px solid #b8cbd1; background-color: #012f3e;
}

nav { padding: 0 5px; clear: both; }
nav a, nav a:visited { color: #ddf; }
#nav_top a { padding-right: 5px; }

#pnl_index {
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px;
}
#pnl_index > ul > li {
  font-weight: bold;
  margin: 5px 0;
}
#pnl_index > ul > li .title {
  display: list-item;
  font-weight: normal;
}
:target { background: #448; }

#pnl_license li { margin: 1ex 0; }
#pnl_license .help,
#pnl_help .help { max-width: 800px; }

.treenode {
  display: table;
  border: 1px outset #3a635f; padding: 2px 5px; margin: 2px 0;
  /* background: linear-gradient(to bottom, #083035 0%,#083035 45%,#0c3d44 45%,#0d3f46 55%,#0d555d 55%,#0d555d 60%,#082f36 60%,#082f36 100%); */
  background: linear-gradient(to bottom, #083035 0%, #0d555d 60%, #082f36 100%);
  margin-right: 5px;
}
.treenode > div:not(.icon) { margin-left: 25px }

.title { font-weight: bold; cursor: pointer; text-decoration: none }
.title, .title:visited { color: white }
.title:hover { color: yellow }
.desc { clear: left; float: left; cursor: help; margin-top: 3px; }
.help { display: block; position: relative; border: 2px ridge #b8cbd1; padding: 3px; background-color: black; font-size: smaller; max-width: 500px; }

.icon.collapse, .icon.expand { float: right; margin-left: 5px }
:not( .collapsed ) > .icon.expand { display: none }
.collapsed > b { color: #999 }
.collapsed > .collapse,
   .collapsed > div:not(.icon),
  .collapsed > .desc,
  .collapsed > .manday,
  .collapsed > .manhour  {
   display: none
 }

#pnl_enable .icon.desc,
#pnl_enable .icon.collapse,
#pnl_enable .icon.expand { display: none }

.treenode > .resource { margin-left: 0; float: left; } /* Resources will float onto one line */
.treenode > div.icon + .resource:last-child { margin-left: 25px; float: none; } /* Contains only one resource? Un-float to keep box tight */
.treenode > div:not(.resource) + .resource { margin-left: 25px; } /* Align with previous block */
.resource + div:not(.resource) { clear: left } /* Normal blocks do not stick after previous resource */
.manday, .manhour { font-size: smaller; color: yellow }
.manday:before, .manhour:before { content: ", " }

#pnl_search input[type="search"] {
  min-width: 300px;
}
#pnl_result { padding: 0; float: left; }
#pnl_enable { padding: 0; float: right; }

.icon { background-repeat: no-repeat; width: 20px; height: 20px; float: left; margin-right: 5px; }
.icon[tabindex] { cursor: pointer; }
.clipicon { position:absolute; right: 4px; }
.icon_data_building { background-position: 0 0 }
.icon_data_people { background-position: -20px 0 }
.icon_data_race { background-position: -40px 0 }
.icon_data_squad { background-position: -60px 0 }
.icon_data_station { background-position: -80px 0 }
.icon_data_subrace { background-position: -100px 0 }
.icon_data_training { background-position: -120px 0 }
.icon_data_unit { background-position: -140px 0 }
.icon_data_vision { background-position: -160px 0 }
.icon_item_general { background-position: -180px 0 }
.icon_tech_autopsy { background-position: -200px 0 }
.icon_tech_beastmen { background-position: -220px 0 }
.icon_tech_earth { background-position: -240px 0 }
.icon_tech_general { background-position: -260px 0 }
.icon_tech_interrogation { background-position: -280px 0 }
.icon_tech_martian { background-position: -300px 0 }
.icon_tech_medicine { background-position: -320px 0 }
.icon_tech_planetology { background-position: -340px 0 }
.icon_tech_reticulan { background-position: -360px 0 }
.icon_ui_clipboard { background-position: -380px 0 }
.icon_ui_desc { background-position: -400px 0 }
.icon_ui_minus { background-position: -420px 0 }
.icon_ui_plus { background-position: -440px 0 }