* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; width: 100%; background-color: black; color: white; font-family: sans-serif; }
a { color: #bbf; }
a:visited { color: #88f; }
a:hover { color: yellow; }
.hide { display: none; }
.error { color: #f44; }
.f_left { float: left; }
.f_right { float: right; }
.cf:after { content: " "; display: table; clear: both; }

h1 { margin: 0; font-size: 24px; }
.box {
  padding: 10px; color: white;
  border: 3px solid #b8cbd1; background-color: #012f3e;
}
.box a { text-decoration: none; }

nav { padding: 0 5px; clear: both; }
nav a, nav a:visited { color: #ddf; }
#nav_top a { padding-right: 5px; }

#pnl_index {
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px;
}
#pnl_index > ul > li {
  font-weight: bold;
  margin: 5px 0;
}
#pnl_index > ul > li .title {
  display: list-item;
  font-weight: normal;
}
:target { background: #448; }

.treenode {
  display: table;
  border: 1px outset #3a635f; padding: 2px 5px; margin: 2px 0;
  /* background: linear-gradient(to bottom, #083035 0%,#083035 45%,#0c3d44 45%,#0d3f46 55%,#0d555d 55%,#0d555d 60%,#082f36 60%,#082f36 100%); */
  background: linear-gradient(to bottom, #083035 0%, #0d555d 60%, #082f36 100%);
  margin-right: 5px;
}
.treenode > div { margin-left: 25px }

.title { font-weight: bold; cursor: pointer; text-decoration: none }
.title, .title:visited { color: white }
.title:hover { color: yellow }
.icon { float: left; margin-right: 5px; vertical-align: text-bottom; }
.desc { clear: left; float: left; cursor: help; margin-top: 3px; }
.help { display: block; border: 2px ridge #b8cbd1; padding: 3px; background-color: black; font-size: smaller; max-width: 500px; }

.collapse, .expand { float: right; cursor: pointer; margin-left: 5px }
:not(.collapsed) > .expand { display: none }
.collapsed > b { color: #999 }
.collapsed > .collapse,
   .collapsed > div,
  .collapsed > .desc,
  .collapsed > .manday,
  .collapsed > .manhour  {
   display: none
 }

/* .leaf .collapse, .leaf .expand { display: none } */
#pnl_enable .desc,
#pnl_enable .collapse,
#pnl_enable .expand { display: none }

.treenode > .resource { margin-left: 0; float: left; } /* Resources will float onto one line */
.treenode > img + .resource:last-child { margin-left: 25px; float: none; } /* Contains only one resource? Un-float to keep box tight */
.treenode > div:not(.resource) + .resource { margin-left: 25px; } /* Align with previous block */
.resource + div:not(.resource) { clear: left } /* Normal blocks do not stick after previous resource */
.manday, .manhour { font-size: smaller; color: yellow }
.manday:before, .manhour:before { content: ", " }

#pnl_search input[type="search"] {
  min-width: 300px;
}
#pnl_result { padding: 0; float: left; }
#pnl_enable { padding: 0; float: right; }